.musicOption {
    margin: 6px;
    border: solid #d0d0d0 2px;
    border-radius: 8px;
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    .musicOption {
        border-color: #34364f;
        background-color: #1a1c35;
    }
}

input {
    min-height: 30px;
    margin: 15px;
}